/***** NAVBAR *****/

.navbar {
    background-color: rgb(18, 52, 14);
    border-radius: 0;
}

/* Navbar title */
.navbar-default .navbar-brand {
    color: white;
    font-size: px;
    font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: rgb(38, 33, 109);
    text-decoration: none;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 16px;
    padding: 10px;
}

/* Navbar collapsed styles */
.navbar-toggler {
    color: #fff;
    border-color: #fff;
    background-color: rgb(18, 52, 14);
    border-radius: 4px;
    border: 1px solid;
    fill: #fff;
    font-size: 16px;
    position: relative;
    margin-right: 10px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: rgb(30, 23, 121);
    color: #242424;
    fill: #242424;
    border-color: #fff;

}

/*** JUMBOTRON ***/

.jumbotron {
    background-image: url("../assets/jeffersonsurveyplat2.png");
    text-align: center;
    color: #000000;
    padding: 1%;
    border-radius:0px;
}

.jumbotron h2 {
    font-size: 40px;
    font-weight: bold;
}

.img-responsive{
    width:100%;
}

/*** CARD ***/

.card {
    background-color: #f6f4f4;
    border-color: #040404;
    border-width: 3px;
    width: 100%;
}

.card:hover {
    border-color: #ebd122;
}

/*** Basic Text Styles ***/

#about-world {
    max-width: 100%;
}

.resume h3 {
    font-weight: bold;
}


hr {
    border-color: white;
    border-width: 2px;
}

p {
    font-size: 20px;
}

a {
    color: rgb(71, 9, 9);
}

a:hover {
    color: #ebd122;
}

.container{
    padding:25px 0;
}

body {

    font-family: 'Barlow', sans-serif;
    background-color: rgb(165, 230, 187);
    color: #242424;
}